/* Button Component */
@import "../Typography/Typography.css";

/* Button Settings - Affects layout */
.button {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content max-content;
    justify-content: center;
    grid-gap: 5px;
    line-height: 16px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
}
.button:hover {
    cursor: pointer;
}

/* Button Types - Affects look and feel */
.button--primary {
    background: var(--brand);
    color: var(--gray-0);
    font-weight: 900;
}
.button--primary:hover {
    background: var(--brand-dark);
}

.button--secondary {
    background: transparent;
    color: var(--gray-5);
    border: 1px solid var(--gray-3);
}
.button--secondary:hover {
    border-color: var(--brand);
}
.button--link {
    background: transparent;
    padding: 0;
    font-weight: 900;
    color: var(--brand);
    width: max-content;
}
.button--link:hover {
    color: var(--brand-dark);
}
.button--link.button--small, .button--link.button--medium, .button--link.button.large {
    padding: 0;
}
.button--primary:disabled, .button--secondary:disabled {
    background: var(--gray-2);
    color: var(--gray-4);
}

/* Button Sizes - Affects padding and font size */
.button--small {
    padding: 7px;
    font-size: var(--scale-1);
}
.button--medium {
    padding: 12px;
    font-size: var(--scale1);
}
.button--large {
    padding: 17px;
    font-size: var(--scale2);
}