@import '../Reset.css';

/* MediaObject Settings */
.media-object {
    display: grid;
}

/* MediaObject Vertical Alignment - Affects vertical alignment of children */
.media-object--align-top {
    align-items: start;
}
.media-object--align-center {
    align-items: center;
}
.media-object--align-bottom {
    align-items: end;
}

/* Media Object Spacing - Affects spacing between children elements */
.media-object--spacing-10 {
    grid-gap: var(--su-10);
}
.media-object--spacing-20 {
    grid-gap: var(--su-20);
}
.media-object--spacing-30 {
    grid-gap: var(--su-30);
}
.media-object--spacing-50 {
    grid-gap: var(--su-10);
}
.media-object--spacing-100 {
    grid-gap: var(--su-100);
}

/* Media Object Sizes - Affects padding */
.media-object--small {
    padding: var(--su-10);
}
.media-object--medium {
    padding: var(--su-30);
}
.media-object--large {
    padding: var(--su-50);
}
.media-object--no-top-padding{
    padding-top: 0;
}

/* Media Object Utils */
.media-object--inverse > *:nth-child(1), .media-object--inverse > *:nth-child(2) {
    grid-row: 1;
}
.media-object--inverse > *:nth-child(1) {
    grid-column: 2;
}
.media-object--inverse > *:nth-child(2) {
    grid-column: 1;
}