/* Container Component */
@import "../Spacing.css";

/* container Settings - Affects layout */
.container {
    display: grid;
    grid-auto-rows: max-content;
}

/* Container Sizes - Affects padding */
.container--small {
    padding: var(--su-10);
}
.container--medium {
    padding: var(--su-30);
}
.container--large {
    padding: var(--su-50);
}
/* container Sizes - Affects spacing between children elements */
.container--spacing-10 {
    grid-gap: var(--su-10);
}
.container--spacing-20 {
    grid-gap: var(--su-20);
}
.container--spacing-30 {
    grid-gap: var(--su-30);
}
.container--spacing-50 {
    grid-gap: var(--su-10);
}
.container--spacing-100 {
    grid-gap: var(--su-100);
}

/* Container Layout - Affects number of columns */
.container--col-2 {
    grid-template-columns: 1fr 1fr;
}
.container--col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.container--col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container--col-auto {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

/* Container Utilities */
.container--limit-height {
    height: max-content;
}
.container--no-top-padding{
    padding-top: 0;
}