/* TopNav Component */
@import "../Typography/Typography.css";
@import "../Reset.css";

.topNav {
    background: var(--gray-0);
    padding: 0 var(--su-50);
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    box-shadow: 0px 4px 8px var(--gray-2);
}
.topNav__menu {
    justify-content: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
}
.topNav__menu__item {
    font-size: var(--scale1);
    font-weight: 400;
    color: var(--gray-4);
    padding: var(--su-30) var(--su-20);
    text-decoration: none;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}
.topNav__menu__item:hover {
    color: var(--gray-5);
    background: var(--brand-light);
}
.topNav__menu__item__active {
    color: var(--gray-5);
    background: var(--brand-light);
    border-bottom: 2px solid var(--brand);
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}