/* Colors */

:root {
    --error: #E55151;
    --brand-dark: #4071EE;
    --brand-light: #ABC3FF;
    --brand: #5786FF;
    --gray-5: #242E33;
    --gray-4: #64737A;
    --gray-3: #D1D9DE;
    --gray-2: #DFE5E8;
    --gray-1: #EDF1F2;
    --gray-0: #ffffff;

    --shadow-small: rgba(36, 46, 51, 0.1);
    --shadow-large: rgba(36, 46, 51, 0.3);
    --shadow-button: rgba(36, 46, 51, 0.2);
}