/* Avatar Component */

/* Avatar Settings */
.avatar {
    height: auto;
    border-radius: 128px;
    -webkit-border-radius: 128px;
    -moz-border-radius: 128px;
    -ms-border-radius: 128px;
    -o-border-radius: 128px;
    overflow: hidden;
}